# always needed
ffsubsync~=0.4.24
pysubs2~=1.6.0
dl_translate==0.3.0
pydub==0.25.1

# to avoid problem with dependencies versions
numpy>=2.1.0
torch>=2.8.0
torchaudio>=2.8.0


# Backend specific dependencies

# whisperx:
whisperx @ git+https://github.com/m-bain/whisperx.git@2cfd7b7c5c7bba144954364db747319b50e8232b

# huggingface:
transformers==4.48.1

# stable-ts, whisper, whisperx, faster_whisper, whisper-timestamped
openai-whisper==20240930

